<md-toolbar class="md-primary">
  <h1 class="state-headers">
    Your new honey pye?
  </h1>
</md-toolbar>
<div class="match-cont center-block">
  <div class="row">
    <match>
    </match>
  </div>
  <section class="match-buttons" layout="row" layout-sm="column" layout-align="center center">
    <md-button class="md-raised md-warn" ng-click="makeTrue()">Pass</md-button>
    <md-button class="md-raised md-primary" ng-click="makeTrue()">Like!</md-button>
    <md-button class="md-raised" ng-click="goToMoar()" ng-show="decision">Want more pyes?</md-button>

  </section>
</div>