#home {
  fullstack-logo {
    padding-top: 30px;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
  }
  .cta-btn {
    width: 80%;
    max-width: 500px;
  }
  h1 {
    line-height: 50px;
    font-family: Monaco;
  }
}

