.match-cont {
  max-width: 900px;
  width: 80%;
  background: #F1F3F4;
  padding: 20px 6px;
}
.match-pix {
  img {
    width: 100%;
  }
}
.match-info {

}
.match-summary {

}
.thumbnails {
  img {
    margin-top: 15px;
  }
}