* {
  box-sizing: border-box;
}
// $bg: #F5F9FB;
$bg: #fff;
body {
  background: $bg;
  height: auto;
  min-height: 100vh;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  // padding-top: 60px;
  // width: 1200px;
  margin: 0 auto;
}
.state-headers {
  font-size: 20px;
  text-align: center;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'account/main';
